epel:
  # URL to the EPEL RPM to install
  rpm: default varies with OS; see epel/init.sls

  # URL to the EPEL GPG key
  pubkey: default varies with OS; see epel/init.sls
  pubkey_hash: default varies with OS; see epel/init.sls

  # Disable repo so requires the --enablerepo flag to use
  disabled: false

  # Disable (default)/enable EPEL testing
  testing: false

  # Override the default EPEL release version
  release: 7-8
ius:
  # URL to the ius RPM to install
  rpm: default varies with OS; see ius/init.sls

  # URL to the ius GPG key
  pubkey: default varies with OS; see ius/init.sls
  pubkey_hash: default varies with OS; see ius/init.sls

  # Disable repo so requires the --enablerepo flag to use
  disabled: True
  testing: False
  archive: False
  dev: False
brave:
  pkgrepo:
    enabled: True
cb:
  pkgrepo:
    enabled: True
duosecurity:
  pkgrepo:
    enabled: True
elastic_co:
  elasticsearch:
    enabled: True
    major_version: 6
  kibana:
    enabled: True
    major_version: 6
  beats:
    enabled: True
    major_version: 6
  logstash:
    enabled: True
    major_version: 6
  apm:
    enabled: True
    major_version: 6
google-chrome:
  pkgrepo:
    enabled: True
graylog:
  pkgrepo:
    enabled: True
    version: 2.4
mongodb-org:
  pkgrepo:
    enabled: True
    version: 3.4
nodesource:
  pkgrepo:
    enabled: True
    version: 9
